<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>199936839516-o78ahgmfdmnnsmb3t8fnkh9nntf9mjci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.199936839516-o78ahgmfdmnnsmb3t8fnkh9nntf9mjci</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>199936839516-b5kr76sensej7g77cm7d265kjaff577j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCn4MtMWijtb-_nj6B8L5t6olh66RQnOZ0</string>
	<key>GCM_SENDER_ID</key>
	<string>199936839516</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ta.sikasir</string>
	<key>PROJECT_ID</key>
	<string>chat-app-rony</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-rony.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:199936839516:ios:ee328c66bfa9bf7827fb99</string>
	<key>DATABASE_URL</key>
	<string>https://chat-app-rony-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>